# Entorno local
.env
.venv
venv
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Herramientas y cachés
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Bases de datos locales
*.sqlite
*.sqlite3
*.db

db.sqlite

# Logs y archivos temporales
logs/
*.log
*.tmp

# IDE y sistema
.vscode/
.idea/
.DS_Store
